* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Inter-Bold;
  src: url(font/Inter_18pt-Bold.ttf);
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url(font/Inter_18pt-ExtraBold.ttf);
}
@font-face {
  font-family: Inter-Medium;
  src: url(font/Inter_18pt-Medium.ttf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(font/Inter_18pt-Bold.ttf);
}
@font-face {
  font-family: Inter-SemiBold;
  src: url(font/Inter_18pt-SemiBold.ttf);
}
@font-face {
  font-family: Inter-Light;
  src: url(font/Inter_24pt-Light.ttf);
}
@font-face {
  font-family: Inter-Regular;
  src: url(font/Inter_24pt-Regular.ttf);
}
@media screen and (max-width: 390.4px) {
  .container {
    width: 390.4px;
    height: 16299px;
    background-color: #FFFAED;
    overflow-x: hidden;
  }
  .header__p {
    margin-left: 50px;
    margin-top: 25px;
  }
  .header__input {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .drop {
    display: block;
  }
  .drop_button {
    all: unset;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border: none;
    margin-top: 40px;
    margin-left: 100px;
  }
  .drop_content {
    display: none;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #F39AAB;
    border-radius: 10px;
    z-index: 5;
    flex-direction: column;
    min-width: 100px;
    align-items: self-end;
  }
  .line {
    all: unset;
    background-color: #730B18;
    width: 30px;
    height: 5px;
    border-radius: 8px;
  }
  .drop_content_a {
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    font-size: 16px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .drop:hover .drop_content {
    display: flex;
  }
  .maff-1 {
    grid-template-columns: 1fr;
    width: 370px;
    height: 469px;
  }
  .maff-1__grid__p {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
    width: 370px;
  }
  .maff-1__grid__p2 {
    margin-left: 50px;
    width: 300px;
    margin-top: 20px;
  }
  .maff-1__grid__input {
    margin-left: 50px;
    margin-top: 50px;
  }
  .maff-1__grid__g {
    display: flex;
    margin-left: 15px;
    margin-top: 50px;
    gap: 10px;
  }
  .maff-1__grid__g__column__img {
    width: 175px;
    height: 350px;
  }
  .maff-1__grid__g__column__img-2 {
    height: 350px;
  }
  .maff-1__grid__g__column__grad {
    width: 175px;
    height: 72px;
  }
  .maff-1__grid__g__column__grad-2 {
    width: 175px;
    height: 72px;
  }
  .p {
    margin-top: 770px;
    margin-left: 1px;
    font-size: 35px;
    text-align: center;
  }
  .maff-2 {
    width: 370px;
    grid-template-columns: 1fr;
    margin-left: -1px;
    margin-top: 10px;
    row-gap: 50px;
  }
  .maff-2__sobitie__s1 {
    width: 330px;
    height: 330px;
  }
  .maff-2__sobitie__div {
    margin-left: -30px;
    width: 330px;
    height: 281px;
  }
  .maff-2__sobitie__div__input {
    margin-left: 80px;
  }
  .p-2 {
    font-size: 40px;
    margin-left: 70px;
  }
  .maff-3 {
    grid-template-columns: 1fr;
    margin-left: -550px;
    gap: 30px;
  }
  .maff-3__poshemy__n {
    height: 200px;
    width: 330px;
    margin-top: -120px;
  }
  .maff-3__poshemy__img {
    height: 330px;
    width: 330px;
    border-radius: 30px;
  }
  .maff-3__poshemy__img-t {
    margin-top: 1px;
    height: 330px;
    border-radius: 30px;
  }
  .maff-3__poshemy__p {
    font-size: 20px;
    margin-top: 230px;
    font-family: Inter-Medium;
  }
  .maff-3__poshemy__p1 {
    margin-top: 260px;
    font-family: Inter-Light;
    width: 300px;
  }
  .maff-4 {
    height: 824px;
    width: 350px;
    margin-top: 70px;
    margin-left: 20px;
    grid-template-columns: 1fr;
  }
  .maff-4__column {
    margin-top: 80px;
  }
  .maff-5 {
    grid-template-columns: 1fr;
    display: grid;
  }
  .maff-5__p {
    margin-top: 40px;
    margin-right: 70px;
    margin-left: 20px;
    width: 350px;
  }
  .maff-5__foto {
    display: none;
  }
  .maff-5__form__input {
    width: 300px;
    height: 50px;
  }
  .maff-6 {
    margin-top: 50px;
    grid-template-columns: 1fr;
    margin-left: 35px;
    row-gap: 20px;
  }
  .maff-6__column {
    margin-top: 100px;
  }
  .maff-6__column-t {
    height: 352px;
    width: 317px;
    margin-top: 100px;
  }
  .maff-6__p {
    margin-top: 100px;
    margin-left: 10px;
  }
  .maff-7 {
    grid-template-columns: 1fr;
    margin-left: 20px;
    row-gap: 10px;
  }
  .maff-7__p {
    margin-top: 170px;
    margin-left: 1px;
  }
  .maff-7__column {
    width: 350px;
    height: 410px;
    margin-top: 60px;
  }
  .maff-7__column-t {
    width: 350px;
    height: 410px;
    margin-top: 60px;
  }
  .maff-7__column__p {
    width: 290px;
  }
  .maff-7__column__p1 {
    margin-top: 30px;
  }
  .maff-8 {
    grid-template-columns: 1fr;
  }
  .maff-8__p {
    margin-top: 10px;
    margin-left: 25px;
    width: 350px;
  }
  .maff-8__p1 {
    margin-left: 25px;
  }
  .maff-8__form {
    margin-left: 25px;
  }
  .maff-8__form__input {
    width: 300px;
    height: 50px;
  }
  .maff-8__grid {
    height: 550px;
  }
  .maff-8__grid__g {
    display: flex;
    margin-left: 20px;
    gap: 20px;
    height: 400px;
  }
  .maff-8__grid__g__foto__1 {
    width: 164.86px;
    height: 228.26px;
  }
  .maff-8__grid__g__foto__4 {
    width: 164.86px;
    height: 78.62px;
  }
  .maff-8__grid__g__foto__2 {
    width: 164.86px;
    height: 228.26px;
  }
  .maff-8__grid__g__foto__3 {
    width: 164.86px;
    height: 78.62px;
  }
  .maff-9 {
    grid-template-columns: 1fr;
    margin-left: -550px;
  }
  .maff-9__p1 {
    margin-top: -40px;
    margin-left: 10px;
  }
  .maff-9__column__img {
    height: 330px;
    width: 330px;
    margin-left: 20px;
  }
  .maff-9__column__div {
    width: 330px;
    height: 330px;
  }
  .maff-9__column__div__p {
    width: 300px;
    margin-left: 10px;
  }
  .maff-10 {
    grid-template-columns: 1fr;
    margin-left: -180px;
  }
  .maff-10__column {
    width: 390px;
  }
  .maff-10__column__p1 {
    width: 330px;
  }
  .maff-10__column__p2 {
    width: 390px;
  }
  .maff-10__column__p3 {
    height: 100px;
    width: 500px;
  }
  .maff-10__column__img {
    width: 350px;
    height: 350px;
    margin-left: 200px;
    margin-top: 60px;
  }
  .maff-11 {
    height: 524px;
    width: 350px;
    margin-left: 20px;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
  .maff-11__grid__p {
    margin-left: 35px;
  }
  .maff-11__grid__p1 {
    margin-left: 35px;
    width: 300px;
    line-height: 200%;
  }
  .maff-11__grid__button {
    margin-left: 80px;
    margin-top: 5px;
  }
  .footer {
    grid-template-columns: 1fr;
    margin-left: 30px;
    margin-top: 100px;
  }
  .footer__column__p {
    margin-top: 50px;
    line-height: 70%;
  }
  .footer__column__p-t {
    margin-top: 50px;
    line-height: 70%;
    margin-left: 1px;
  }
  .footer__column__p-y {
    margin-top: 50px;
    line-height: 70%;
    margin-left: 1px;
  }
  .footer__column__p-u {
    margin-top: 50px;
    line-height: 70%;
    margin-left: 1px;
  }
  .footer__column__p1 {
    margin-top: 20px;
    line-height: 150%;
  }
  .footer__column__p1-t {
    margin-top: 20px;
    margin-left: 1px;
  }
  .footer__column__p1-y {
    margin-top: 20px;
    margin-left: 1px;
  }
  .footer__column__p1-u {
    margin-top: 20px;
    line-height: 150%;
    margin-left: 1px;
  }
  .footer__column__vec {
    margin-left: 1px;
  }
  .footer-2__p {
    margin-left: 10px;
  }
}
.container {
  width: 1920px;
  height: 9602px;
  margin: 0 auto;
  background-color: #FFFAED;
}

.header {
  height: 97px;
  background-color: #F4E4BF;
  display: flex;
}
.header__p {
  font-size: 40px;
  font-family: Inter-Bold;
  color: #730B18;
  margin-top: 22px;
  margin-left: 233px;
}
.header__nav {
  margin-top: 40px;
  display: flex;
  gap: 42px;
  margin-left: 100px;
}
.header__nav__a {
  font-family: Inter-Regular;
  font-size: 20px;
  color: #4B1210;
  text-decoration: none;
}
.header__nav__a:hover {
  color: #730B18;
  font-family: Inter-Medium;
}
.header__input {
  height: 59px;
  width: 175px;
  border-radius: 30px;
  background-color: #730B18;
  color: #FFFAED;
  font-family: Inter-Regular;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 574px;
  border: none;
}
.header__input:hover {
  background-color: #4B1210;
}

.drop {
  display: none;
}

.maff-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.maff-1__grid {
  flex-direction: column;
}
.maff-1__grid__p {
  font-size: 60px;
  font-family: Inter-ExtraBold;
  color: #730B18;
  margin-left: 225px;
  margin-top: 252px;
  width: 672px;
  line-height: 143%;
  letter-spacing: 5.5%;
  width: 640px;
}
.maff-1__grid__p2 {
  color: #4B1210;
  font-size: 24px;
  font-family: Inter-Medium;
  margin-top: 79px;
  margin-left: 221px;
  width: 560px;
  line-height: 200%;
}
.maff-1__grid__input {
  width: 173px;
  height: 56px;
  background-color: #730B18;
  border-radius: 30px;
  color: #FFFAED;
  margin-top: 96px;
  margin-left: 221px;
  border: none;
  font-size: 20px;
  font-family: Inter-Medium;
}
.maff-1__grid__input:hover {
  background-color: #4B1210;
}
.maff-1__grid__g {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  margin-top: 82px;
  gap: 40px;
  width: 350px;
  margin-left: 70px;
}
.maff-1__grid__g__column {
  width: 350px;
}
.maff-1__grid__g__column__img {
  width: 350px;
  height: 700px;
  border-radius: 200px 50px 50px 50px;
}
.maff-1__grid__g__column__img-2 {
  margin-top: 45px;
  border-radius: 50px 50px 200px 50px;
  height: 700px;
}
.maff-1__grid__g__column__grad {
  margin-top: 45px;
  width: 350px;
  height: 144px;
  border-radius: 50px 50px 50px 200px;
  background: linear-gradient(79.09deg, #FFFAED -3.93%, #CB7F3C 98.32%);
}
.maff-1__grid__g__column__grad-2 {
  margin-top: 50px;
  background: linear-gradient(79.09deg, #FFFAED -3.93%, #F39AAB 98.32%);
  border-radius: 50px 50px 50px 200px;
  transform: rotate(180deg);
  width: 350px;
  height: 144px;
}

.p {
  margin: 0 auto;
  font-family: Inter-ExtraBold;
  font-size: 50px;
  margin-top: 70px;
  margin-left: 689px;
  color: #730B18;
}

.maff-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px;
  width: 1370px;
  margin-left: 204px;
  margin-top: 53px;
  padding: 20px;
  row-gap: 100px;
}
.maff-2__sobitie {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.maff-2__sobitie__s1 {
  border-radius: 30px;
  z-index: 10;
  row-gap: 61px;
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
}
.maff-2__sobitie__div {
  width: 475px;
  height: 281px;
  background-color: #FFFAED;
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
  z-index: 1;
  margin-top: -90px;
  border-radius: 30px;
  margin-left: -33px;
}
.maff-2__sobitie__div__p {
  margin-top: 131px;
  text-align: center;
  font-family: Inter-SemiBold;
  color: #4B1210;
  font-size: 32px;
  z-index: 10;
}
.maff-2__sobitie__div__input {
  display: flex;
  height: 58px;
  width: 172px;
  background-color: #F4E4BF;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-family: Inter-Medium;
  color: #4B1210;
  z-index: 11;
  justify-content: center;
  margin-left: 151px;
  margin-top: 28px;
}
.maff-2__sobitie__div__input:hover {
  background-color: #EBD6A5;
}

.p-2 {
  font-family: Inter-Bold;
  font-size: 52px;
  color: #730B18;
  align-items: center;
  margin-top: 70px;
  margin-left: 815px;
}

.maff-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1495px;
  margin-left: 240px;
  margin-top: 44px;
}
.maff-3__poshemy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
}
.maff-3__poshemy__n {
  background: linear-gradient(180deg, rgba(203, 43, 63, 0.8) 0%, rgba(243, 154, 171, 0.5) 100%);
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
  height: 214px;
  width: 469px;
  z-index: 10;
  margin-top: -190px;
  border-radius: 30px;
  margin-left: 32px;
}
.maff-3__poshemy__n__p {
  font-size: 24px;
  font-family: Inter-Medium;
  color: rgb(255, 255, 255);
  z-index: 5;
  text-align: center;
  margin-top: 25px;
}
.maff-3__poshemy__n__p1 {
  text-align: center;
  font-size: 16px;
  font-family: Inter-Regular;
  color: rgb(255, 255, 255);
  margin-top: 19px;
  line-height: 190%;
  z-index: 5;
}
.maff-3__poshemy__img {
  border-radius: 30px;
}
.maff-3__poshemy__img-t {
  border-radius: 30px;
  margin-top: 24px;
}

.maff-4 {
  width: 1493px;
  height: 171px;
  border-radius: 30px;
  background-color: #F4E4BF;
  background: linear-gradient(180deg, #F39AAB 0%, #FFFAED 100%);
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
  margin-left: 230px;
  margin-top: 75px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.maff-4__column {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.maff-4__column__p {
  font-family: Inter-ExtraBold;
  font-size: 36px;
  color: #4B1210;
}
.maff-4__column__p1 {
  margin-top: 35px;
  font-size: 16px;
  font-family: Inter-SemiBold;
  color: #4B1210;
}

.maff-5 {
  margin-top: 127px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.maff-5__p {
  margin-left: 43px;
  margin-top: 120px;
  font-family: Inter-ExtraBold;
  font-size: 40px;
  color: #4B1210;
}
.maff-5__foto {
  width: 728px;
  height: 801px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #4B1210;
  margin-left: 230px;
}
.maff-5__form {
  margin-top: 77px;
  margin-left: 42px;
}
.maff-5__form__input {
  border-radius: 30px;
  width: 531px;
  height: 71px;
  font-family: Inter-Light;
  font-size: 20px;
  display: flex;
  background-color: #ffffff;
  border: 2px solid #4B1210;
  margin-top: 10px;
}
.maff-5__form__buttone {
  width: 172px;
  height: 60px;
  background-color: #4B1210;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-family: Inter-SemiBold;
  color: #FFFAED;
  margin-top: 30px;
}

.maff-6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  max-width: 1478px;
  margin-left: 230px;
}
.maff-6__p {
  font-size: 52px;
  font-family: Inter-Bold;
  color: #730B18;
  text-align: center;
  margin-top: 100px;
  margin-left: 30px;
}
.maff-6__column {
  height: 352px;
  width: 317px;
  background-color: #F4E4BF;
  border-radius: 30px;
  margin-top: 46px;
  flex-direction: column;
  background: linear-gradient(180deg, #FFFAED 0%, #F4E4BF 100%);
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
}
.maff-6__column-t {
  margin-top: 110px;
  background: linear-gradient(180deg, #FFFAED 0%, #F4E4BF 100%);
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
  height: 352px;
  border-radius: 30px;
}
.maff-6__column__p {
  font-size: 52px;
  font-family: Inter-Bold;
  color: #4B1210;
  line-height: 120px;
  justify-self: center;
  text-align: center;
  margin-top: -60px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #F39AAB;
}
.maff-6__column__p1 {
  font-size: 24px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  text-align: center;
  margin-top: 40px;
}
.maff-6__column__p2 {
  font-size: 20px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-top: 40px;
  width: 264px;
  text-align: center;
  margin-left: 25px;
  line-height: 153%;
}

.maff-7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1493px;
  margin-left: 220px;
  gap: 44px;
}
.maff-7__p {
  font-family: Inter-ExtraBold;
  font-size: 52px;
  color: #730B18;
  text-align: center;
  margin-top: 56px;
  margin-left: 30px;
}
.maff-7__column {
  width: 468px;
  height: 439px;
  background-color: #F4E4BF;
  border-radius: 30px;
  flex-direction: column;
  margin-top: 40px;
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
}
.maff-7__column-t {
  margin-top: 60px;
  height: 439px;
  background-color: #F4E4BF;
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
}
.maff-7__column__img {
  border-radius: 10px;
  margin-top: 38px;
  margin-left: 38px;
}
.maff-7__column__p {
  font-family: Inter-Medium;
  font-size: 18px;
  color: #4B1210;
  margin-top: 32px;
  margin-left: 38px;
  width: 364px;
  line-height: 160%;
}
.maff-7__column__p1 {
  font-family: Inter-Medium;
  font-size: 24px;
  color: #4B1210;
  margin-top: 80px;
  margin-left: 43px;
}

.maff-8 {
  margin-top: 115px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.maff-8__p {
  font-family: Inter-Bold;
  font-size: 40px;
  color: #730B18;
  margin-left: 237px;
}
.maff-8__p1 {
  font-size: 24px;
  font-family: Inter-Medium;
  color: #4B1210;
  margin-left: 237px;
  margin-top: 30px;
}
.maff-8__grid__g {
  margin-left: 60px;
  margin-top: 50px;
  display: grid;
  gap: 40px;
  height: 645px;
  width: 325px;
  grid-template-columns: repeat(2, 1fr);
}
.maff-8__grid__g__foto {
  height: 645px;
  width: 325px;
}
.maff-8__grid__g__foto__1 {
  border-radius: 200px 50px 50px 50px;
}
.maff-8__grid__g__foto__2 {
  margin-top: 40px;
  border-radius: 50px 50px 200px 50px;
}
.maff-8__grid__g__foto__3 {
  border-radius: 50px 200px 50px 50px;
}
.maff-8__grid__g__foto__4 {
  margin-top: 40px;
  border-radius: 50px 50px 50px 200px;
}
.maff-8__form {
  margin-top: 40px;
  margin-left: 238px;
}
.maff-8__form__input {
  border-radius: 30px;
  width: 597px;
  height: 71px;
  font-family: Inter-Light;
  font-size: 20px;
  display: flex;
  background-color: #ffffff;
  border: 2px solid #4B1210;
  margin-top: 10px;
}
.maff-8__form__buttone {
  width: 172px;
  height: 60px;
  background-color: #4B1210;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  font-family: Inter-SemiBold;
  color: #FFFAED;
  margin-top: 32px;
}

.maff-9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 1489px;
  margin-left: 230px;
}
.maff-9__p1 {
  font-family: Inter-SemiBold;
  font-size: 52px;
  color: #730B18;
  text-align: center;
  margin-top: 227px;
  margin-left: 30px;
}
.maff-9__column {
  display: flex;
  z-index: 10;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.maff-9__column__img {
  border-radius: 30px;
  z-index: 10;
}
.maff-9__column__div {
  height: 310px;
  width: 466px;
  background-color: #FFFAED;
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
  margin-top: -82px;
  z-index: 1;
  margin-left: -22px;
  border-radius: 30px;
}
.maff-9__column__div__button {
  width: 172px;
  height: 58px;
  background-color: #4B1210;
  border-radius: 30px;
  border: none;
  color: #FFFAED;
  font-family: Inter-SemiBold;
  font-size: 20px;
  margin-top: 40px;
}
.maff-9__column__div__p {
  font-family: Inter-SemiBold;
  font-size: 24px;
  color: #4B1210;
  margin-top: 120px;
  z-index: 10;
  text-align: center;
}

.maff-10 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 90px;
}
.maff-10__column__p {
  margin-top: 10px;
  font-size: 40px;
  font-family: Inter-SemiBold;
  color: #730B18;
  margin-left: 230px;
}
.maff-10__column__p1 {
  font-size: 20px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-left: 230px;
  margin-top: 30px;
  width: 453px;
  line-height: 160%;
}
.maff-10__column__p2 {
  font-size: 40px;
  font-family: Inter-SemiBold;
  color: #730B18;
  margin-left: 230px;
  margin-top: 55px;
}
.maff-10__column__p3 {
  font-size: 20px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-left: 235px;
  margin-top: 30px;
  line-height: 170%;
}
.maff-10__column__p4 {
  font-size: 40px;
  font-family: Inter-SemiBold;
  color: #730B18;
  margin-left: 230px;
  margin-top: 60px;
}
.maff-10__column__p5 {
  font-size: 20px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-left: 230px;
  margin-top: 30px;
}
.maff-10__column__vectors {
  display: flex;
  margin-left: 240px;
  margin-top: 45px;
  gap: 30px;
}
.maff-10__column__img {
  border-radius: 30px 100px 30px 100px;
  border: 2px solid #4B1210;
  margin-left: 35px;
  width: 725px;
  height: 638px;
}

.maff-11 {
  display: grid;
  grid-template-columns: 4fr 2fr;
  width: 1491px;
  height: 270px;
  background: linear-gradient(180deg, rgba(243, 154, 171, 0.5) 0%, #FFFAED 100%);
  box-shadow: 5px 10px 20px rgba(136, 122, 90, 0.4);
  border-radius: 30px;
  margin-top: 160px;
  margin-left: 230px;
}
.maff-11__grid__p {
  font-size: 40px;
  font-family: Inter-Bold;
  margin-top: 74px;
  margin-left: 128px;
  color: #730B18;
}
.maff-11__grid__p1 {
  font-size: 20px;
  font-family: Inter-Bold;
  margin-top: 40px;
  color: #4B1210;
  margin-left: 128px;
}
.maff-11__grid__button {
  height: 60px;
  width: 173px;
  background: linear-gradient(180deg, rgba(251, 214, 212, 0.01) 0%, rgba(252, 226, 221, 0.01));
  border: 1px solid #4B1210;
  color: #4B1210;
  font-family: Inter-Bold;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 140px;
  margin-left: 160px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 263px;
  margin-left: 235px;
}
.footer__column__p2 {
  font-size: 40px;
  font-family: Inter-Bold;
  color: #730B18;
}
.footer__column__p3 {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-top: 35px;
  line-height: 150%;
}
.footer__column__p {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #730B18;
}
.footer__column__p-t {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #730B18;
  margin-left: 100px;
  margin-top: 20px;
}
.footer__column__p-y {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #730B18;
  margin-left: 50px;
  margin-top: 20px;
}
.footer__column__p-u {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #730B18;
  margin-left: 15px;
  margin-top: 20px;
}
.footer__column__p1 {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-top: 30px;
  line-height: 286%;
}
.footer__column__p1-t {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-top: 15px;
  line-height: 286%;
  margin-left: 100px;
}
.footer__column__p1-y {
  font-size: 18px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  margin-top: 15px;
  line-height: 286%;
  margin-left: 50px;
}
.footer__column__vec {
  display: flex;
  margin-top: 25px;
  gap: 36px;
  margin-left: 10px;
}

.footer-2 {
  height: 131px;
  background-color: #F4E4BF;
  margin-top: 71px;
}
.footer-2__p {
  font-size: 20px;
  font-family: Inter-SemiBold;
  color: #4B1210;
  text-align: center;
  padding-top: 57px;
  margin-left: 15px;
}/*# sourceMappingURL=maffins-style.css.map */